<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>



<!--<div id="demox">
    <div *ngIf="a>1">
        if a
    </div>
    <div>
        bbb{{a}}ccc
        <input type="text" [(input)]="a">
        <input type="text" [value]="a" value="{{a}}">
    </div>
    <div id="demo" *ngFor="let k of list">
        <input type="text" [value]="index">
        <input type="text" [(input)]="k.a">
        <input type="text" value="{{k.a}}">
        <input type="text" [value]="k.a">
        <div id="demo11" *ngFor="let k1 of list">
            <input type="text" value="{{k1.a}}">
        </div>
    </div>

</div>-->
<!--<div id="demo2" *ngFor="let k2 of list">
    <input type="text" value="{{k.a}}">
    <div id="demo11" *ngFor="let k12 of list">
        <input type="text" value="{{k12.a}}">
    </div>
</div>-->

<script src="vm.js" type="module"></script>
</body>
</html>